#p-main {max-width:800px;  padding-top: 25px;  border-top: 1px #aaa solid;}
p, li, a, span, div {font-family: 'Gentium Basic', serif;line-height: 1.5em;}
h1,h2,h3, .p-legend p {font-family: 'roboto condensed', san-serif;}

#p-meta {margin: 45px 5%;  text-align: center;  font-size: 1.5em;}

#p-title {min-height:205px;}
#p-title>div {float: left;width:40%;padding: 10px 5%;text-align: center;}
#p-title p {text-align: left;margin: 20px 0;}

#p-legend {  min-height: 50px;  margin-bottom: 20px;  margin: 0 22%;  width: 80%;}
.p-legend {float:left; width: 25%;}
.p-legend>div {width:20px;height:20px;float:left;margin-right:5px;}


#p-contain {min-height:400px;}

.p-canvas {float:left;padding: 10px 5%;width: 25%;}
.p-canvas:first-of-type {margin-left: 13%;}
.p-canvas:last-of-type {float:right;}

.p-row {width:132px;clear:both;}
.p-row .p-grid {float:left;width:20px;height:20px;cursor:pointer;border:1px #fff solid;}
.p-row .p-grid:last-of-type {float:right;}

#p-overall {margin: 10px 3%;}
#p-overall p:first-of-type {margin: 0 auto 20px auto; font-family: "roboto condensed";  cursor: pointer;  width: 345px;}
#p-overall p:first-of-type:hover {color:#aaa;text-decoration: underline;} 